<h3>H0m3</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
<footer class="row">
  <section class="small-12 medium-4 columns">
    Copyright 2014
  </section>
  <section class="small-12 medium-8 columns">
    All rights reserved.
  </section>
</footer>